<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>BA Skills Matrix</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="headerTextContainer">
          <a rel="nofollow" href="https://www.infopulse.com/">
            <img alt="logo" class="logo" src="images/InfopulseLogo.png" />
          </a>
          <h1>BA Skills Matrix<span class="line">_</span></h1>
          <p>
            This Skills Matrix aimed to help assess BA engineer skills in common
            unambiguous way. Each next seniority level includes previous skills.
            The matrix does not include soft skills.
          </p>
        </div>
        <div class="coverImage"></div>
      </div>
    </header>
    <main>
      <div class="container">
        {% for file in data %}
        <div class="tabs">
          <div class="description">
            <h2>
              <span class="chapter-index">{{file['number']}}</span
              >{{file['header']}}<span class="line">_</span>
            </h2>
            <p>{{file['description']}}</p>
          </div>
          <div class="tabNav">
            {% for index, level in levels %}
            <div class="tabNavEl tn{{index}}" data="tab{{index}}">
              {{level}}
            </div>
            {% endfor %}
          </div>
          <div class="tabBox">
            {% for index, level in levels %}
            <div class="tabHead tabHead{{index}}" data="ab{{index}}">
              {{level}}
            </div>
            <div class="tabEl tab{{index}}">{{file['category'][level]}}</div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer>
      <div class="container">
        <nav class="footerTextContainer">
          <div>
            <a rel="nofollow" href="https://www.infopulse.com/">
              <img alt="logo" class="logo" src="images/InfopulseLogo.png" />
            </a>
          </div>
          <div class="footerLinks">
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-Frontend"
              >Frontend Skills Matrix</a
            >
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-React"
              >React Skills Matrix</a
            >
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-Vue"
              >Vue Skills Matrix</a
            >
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-Angular"
              >Angular Skills Matrix</a
            >
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-Node"
              >Node Skills Matrix</a
            >
            <a
              rel="nofollow"
              href="https://infopulse.github.io/Tech-Skills-Matrix-QA"
              >QA Skills Matrix</a
            >
          </div>
          <div class="footerLinks">
            <a
              rel="nofollow"
              href="https://github.com/infopulse/Tech-Skills-Matrix-BA"
              >Back to github project</a
            >
            <a rel="nofollow" href="#">Roadmap</a>
          </div>
        </nav>
        <div class="divider"></div>
        <p class="rightsReservedText">© 2024, Infopulse. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
